<div class = "container">
    <div class = "row my-5">
        <div class = "col-sm">
            <div class = "mx-auto" style = "width: 640px;">
                <div class = "card">
                    <div class = "card-body post-head name">
                        <%= @post.user.user_name %>
                    </div>
                    <%= image_tag @post.image.variant(resize_to_fill: [640, 0]) %>
                    <div class = "card-body caption">
                        <%= @post.caption %>
                    </div>
                </div>
                <div class = "edit-links text-center">
                    <%= link_to 'Edit Post', edit_post_path(@post) %>
                    |
                    <%= link_to 'Back', posts_path %>
            </div>
        </div>
    </div>    
</div>